---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const { count } = Astro.props;

var posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pub.valueOf() - a.data.pub.valueOf()
);
count && (posts = posts.slice(0, count));
---

<!doctype html>
<html lang="en">
  <style lang="scss">
    main {
      width: 960px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      position: relative;
      div.meta {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 200px;
      }
    }
    ul li {
      width: 100%;
      a,
      div.meta {
        width: calc(100% - 200px);
      }
      div.meta {
        text-align: right;
      }
    }
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }
    ul li img {
      margin-bottom: 0.5rem;
      border-radius: 12px;
    }
    ul li a {
      display: block;
    }
    .title {
      margin: 0;
      color: var(--accent-dark);
      line-height: 1;
    }
    .date {
      margin: 0;
      color: var(--accent-dark);
    }
    ul li a:hover h4,
    ul li a:hover .date {
      font-style: italic;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
    ul a:hover img {
      box-shadow: var(--box-shadow);
    }
    .tags {
      white-space: nowrap;
      overflow-x: scroll;
      span {
        &::before {
          content: "# "
        }
        &:not(:last-child)::after {
          content: ", ";
        }
      }
    }
    div.description {
      min-height: 3ch;
    }
    li.post {
      border-bottom: 1.5px solid var(--accent-dark);
    }
  </style>
  <ul>
    {
      posts.map((post) => (
        <li class="post">
          <a href={`/blog/${post.slug}/`}>
            <h4 class="title">{post.data.title}</h4>
          </a>
          <div class="meta">
            <FormattedDate date={post.data.pub} />
            {post.data.tags && (
              <div class="tags">
                {post.data.tags.map((tag) => (
                  <span>{tag}</span>
                ))}{" "}
              </div>
            )}
          </div>
          <div class="description">{post.data.description}</div>
        </li>
      ))
    }
  </ul>


</html>
